
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStoreOrderLabel">Create or edit a Store Order</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.storeOrder.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.storeOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_productAmount">Product Amount</label>
            <input type="number" class="form-control" name="productAmount" id="field_productAmount"
                    ng-model="vm.storeOrder.productAmount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_totalSum">Total Sum</label>
            <input type="number" class="form-control" name="totalSum" id="field_totalSum"
                    ng-model="vm.storeOrder.totalSum"
                     />
        </div>

        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.storeOrder.userId" ng-options="user.id as user.id for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
